<!DOCTYPE html>
<html>
<head>
  <title>PawAdoptr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navbar' %>

<div class="container">
  <div class="div" id="main-banner">
    <img class="img-responsive center-block" src="/assets/test3.jpg" alt="Dogs and Cats">
  </div>
</div>
  <%= yield %>
</body>
</html>
